
@{
    ViewData["Title"] = ViewData["Title"] ?? "Admin Reports";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the Admin Reports page. This section is restricted to administrators.</p>
<p>Here you would view the reports specific to the Admin Role as users without this role cannot access this page.</p>
<p>In this instance nothing is required here, it was created in order to confirm that the page is hidden behind an authenticated role.</p>
