@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you have accessed the home page of my Project Application.</p>
    <p>Throughout the development of this app I have added many features as you will get to see.</p>
    <p>Follow along in this tutorial video as I show you what it has to offer!</p>
</div>
