@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>Email: @ViewData["Email"]</p>
<p>This is the Privacy Policy section, it was here as default so I've added this welcome messasge in it's place as I don't require it.</p>
<p>However, to access this page you must be an Admin user.</p>
